<h1>Hey <%= current_user.first_name %>, got some challenges for you...</h1>
<div id="all_challenges_container">
    <div id="user_challenges_container">
        <ul id="required_challenges">
            <% @required_challenges.each do |c| %>
            <li><%= c.summary %></li>
            <% end %>
        </ul>
        <ul id="chosen_challenges">
            <% @chosen_challenges.each do |c| %>
            <li><%= c.summary %></li>
            <% end %>
        </ul>
    </div>
    <div id="suggested_challenges_container">
        <ul id="suggested_challenges">
            <% @suggested_challenges.each do |c| %>
            <li><%= c.summary %>, (<%= c[:matching_skills].map{|s| s.name}.inspect %>)</li>
            <% end %>
        </ul>
    </div>
</div>