<%= form_for(@user_specific_gameplan) do |f| %>
  <% if @user_specific_gameplan.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user_specific_gameplan.errors.count, "error") %> prohibited this user_specific_gameplan from being saved:</h2>

      <ul>
      <% @user_specific_gameplan.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :gameplan_id %><br />
    <%= f.number_field :gameplan_id %>
  </div>
  <div class="field">
    <%= f.label :user_id %><br />
    <%= f.number_field :user_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
