<p id="notice"><%= notice %></p>

<p>
  <b>Gameplan:</b>
  <%= @user_specific_gameplan.gameplan_id %>
</p>

<p>
  <b>User:</b>
  <%= @user_specific_gameplan.user_id %>
</p>


<%= link_to 'Edit', edit_user_specific_gameplan_path(@user_specific_gameplan) %> |
<%= link_to 'Back', user_specific_gameplans_path %>
