<li class="challenge_row <%= 'compulsory' if challenge.required(current_user) %>">
  <%= challenge.summary %>
  <% if challenge.required(current_user) %>
    <span class="compulsory_label">(required)</span>
  <% end %>
  <a href="#" class="circle info" alt="Info">i</a>
  
  <!-- if the challenge is not compulsory -->
    <!-- if already added -->
    <% if !challenge.required(current_user) %>
      <a href="#button" class="button icon approve">Add</a>
      <a href="#button" class="button danger icon remove">Remove</a>
    <% end %>
    
    <% if action_name == "do_challenges" %>
      <%= link_to "View", challenge, :class => "button icon arrowright float_right"%>
    <% end %>  
  
  <!--<span class="circle add">+</span>
  <span class="circle remove">-</span>-->

  <div class="more_description">
    <div class="title"><%= challenge.summary %></div>
    <div class="description"><%= challenge.description %></div>
    <ul class="skill_tags">
      <% challenge.skills.each do |s| %>
      <li class="skill_tag"><%= s.name %></li>
      <% end %>
    </ul>
  </div>
</li>