<h1><%= @challenge.summary %></h1>
<%= @challenge.description %>
<div class="clear"></div>

<div id="complete_challenge_container">
  <h2>When you're done...</h2>
  Tell us a little about what you did:
  <%= form_tag(submit_challenge_path) do %>
  <%= hidden_field_tag "challenge_id", @challenge.id %>
  <%= text_area_tag "writeup", "" %>
  <br/>
  <%= button_tag "Submit this challenge" %>
  <% end %>
</div>