<p id="notice"><%= notice %></p>

<p>
  <b>Summary:</b>
  <%= @challenge.summary %>
</p>

<p>
  <b>Description:</b>
  <%= @challenge.description %>
</p>

<p>
  <b>Level:</b>
  <%= @challenge.level %>
</p>


<%= link_to 'Edit', edit_challenge_path(@challenge) %> |
<%= link_to 'Back', challenges_path %>
