<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <title><%= page_title %></title>
  <%= stylesheet_link_tag :application, :media => 'all' %>
  <link href='http://fonts.googleapis.com/css?family=Exo' rel='stylesheet' type='text/css'>
  
  <%= render 'shared/javascript' %>
  
  <%= csrf_meta_tags %>
</head>
<body class="<%= body_class %>">

  <header id="header">
    <div class="content_container">
      <div class="content">
        <%= render "shared/header" %>
        <div class="clear"></div>
      </div>
    </div>
  </header>

  <nav id="navigation">
    <div class="content_container">
      <div class="content">
        <%= render 'shared/navigation' -%>
        <div class="clear"></div>
      </div>
    </div>
  </nav>

  <div id="main">
    <div class="content_container">
      <div class="content">
        <%= render 'shared/flashes' -%>
        <%= yield %>
        <div class="clear"></div>
      </div>
    </div>
  </div>

  <footer id="footer">
    <div class="content_container">
      <div class="content">
        <%= render "shared/footer" %>
        <div class="clear"></div>
      </div>
    </div>
  </footer>
  
</body>
</html>