<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <title><%= page_title %></title>
  <%= stylesheet_link_tag :application, :media => 'all' %>
  <%= csrf_meta_tags %>
</head>
<body class="<%= body_class %>">
  <div class="global-wrap">
    <div id="header" class="box">
      <h1>This is where the logo is</h1>
    </div>
    <div class="wrap">
  
    
      <%= render 'shared/javascript' %>
      <%= render 'shared/flashes' -%>
    
      <div id="nab" class="box round">
        <%= link_to "Home", root_path %>
        <%= link_to "My Challenges", user_challenges_path %>
        <%= link_to "User Challenges", challenges_path %>
        <%= link_to "My Gameplans", user_specific_gameplans_path %>
        <%= link_to "User Gameplans", gameplans_path %>
        <%= link_to "Users", users_path %>
        <%= link_to "Organisations", organisations_path %>
        <%= link_to "New Password", new_password_path %>
        <%= link_to "Sign Out", sign_out_path %>
      </div>
    
      <div class="box content round">
        <%= yield %>
        <div id="code">
          <span>&#9786;</span>
        </div>
      </div>
    </div><!-- wrap -->
    <div id="footer" class='box'>
      Made by 'us' and we're awesome!
    </div>
    <div class='copyright'>
      Student Devs - Content copyright &copy; <%= Time.now.year %>
    </div>
  </div>
</body>
</html>